
<form method="post" action="/user">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">name</label>
    <input type="text" name="name" class="form-control" value="<%= @user.name %>" >
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">email</label>
    <input type="email" name="email" class="form-control"  value="<%= @user.email %>" >
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Description</label>
    <input type="password" name="password_digest" class="form-control" value="<%= @user.password_digest %>" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
